/node_modules
/.next
/.vscode
/.github
/.husky
**/*.conf
**/*/local
**/*.log
/.gitignore
/.prettierignore
/.prettierrc
/.eslintrc.json
/.eslintignore
/.env.local
/.env.development.local
**/*package-lock.json
**/*yarn.lock
**/*pnpm-lock.yaml
